In [1]:
import pandas as pd
import numpy as np
import os
import pymysql
from sqlalchemy import create_engine

In [2]:
file_path_sensor_loc ="./Pedestrian_Counting_System_-_Sensor_Locations.csv"
file_path_ped_counts = "./Pedestrian_Counting_System_-_Monthly__counts_per_hour_.csv"

# 1 Preprocess
## 1.1 check_header

In [23]:
def check_header(file_path, expected_header):
    """
    Check csv file has header
    :param file_path: input file path for lookup
    :param expected_header: expected header list    
    """
    input_header = pd.read_csv(file_path,nrows=0).columns.tolist()
    if input_header == expected_header:
        print(f"{file_path} has correct csv header as {expected_header}.")
    else:
        print(f"{file_path} does not have correct csv header as {expected_header}.")

In [24]:
expected_header_sensor_info = ['sensor_id', 'sensor_description', 'sensor_name', 'installation_date','status', 'note', 'direction_1', 'direction_2', 'latitude', 'longitude',
       'location']
expected_header_ped_cnts = ['ID', 'Date_Time', 'Year', 'Month', 'Mdate', 'Day', 'Time', 'Sensor_ID','Sensor_Name', 'Hourly_Counts']

In [25]:
# check header
check_header(file_path_sensor_loc,expected_header_sensor_info)
check_header(file_path_ped_counts,expected_header_ped_cnts)

./Pedestrian_Counting_System_-_Sensor_Locations.csv has correct csv header as ['sensor_id', 'sensor_description', 'sensor_name', 'installation_date', 'status', 'note', 'direction_1', 'direction_2', 'latitude', 'longitude', 'location'].
./Pedestrian_Counting_System_-_Monthly__counts_per_hour_.csv has correct csv header as ['ID', 'Date_Time', 'Year', 'Month', 'Mdate', 'Day', 'Time', 'Sensor_ID', 'Sensor_Name', 'Hourly_Counts'].

## 1.2 Load_csv

In [14]:
def load_csv(file_path):
    """
    Load csv to dataframe
    :param file_path: input file path for data loading
    :return: dataframe 
    """
    try:
        df = pd.read_csv(file_path,header = 0)
        print(f"{file_path} is valid csv file.")
    except FileNotFoundError:
        print(f"{file_path} is not found.")
    except pd.errors.EmptyDataError:
        print(f"{file_path} have no data.")
    except pd.errors.ParserError:
        print(f"{file_path} has parse error.")
    except Exception:
        print(f"{file_path} is not valid and have some other exceptions.")
    finally:
        return df

In [15]:
# load Pedestrian_Counting_System_-_Sensor_Locations.csv

df_sensor_info = load_csv(file_path_sensor_loc)

./Pedestrian_Counting_System_-_Sensor_Locations.csv is valid csv file.

In [16]:
df_sensor_info.head()

,sensor_id,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location
0,57,Bourke St Bridge,BouBri_T,2018/08/13,A,NaN,East,West,-37.817660,144.950262,"(-37.81766034, 144.95026189)"
1,32,City Square,CSq_T,2013/12/20,R,Device has been removed (24/01/2017),NaN,NaN,-37.815724,144.966863,"(-37.81572426, 144.96686315)"
2,68,Flinders Ln -Degraves St (North),FLDegN_T,2020/06/03,A,NaN,East,West,-37.816835,144.965604,"(-37.81683473, 144.96560387)"
3,40,Lonsdale St-Spring St (West),Spr201_T,2015/01/19,A,NaN,South,North,-37.809980,144.972282,"(-37.80998025, 144.97228184)"
4,1,Bourke Street Mall (North),Bou292_T,2009/03/24,A,NaN,East,West,-37.813481,144.965159,"(-37.81348124, 144.96515921)"

In [17]:
# load Pedestrian_Counting_System_-_Monthly__counts_per_hour_.csv

df_ped_cnts = load_csv(file_path_ped_counts)

./Pedestrian_Counting_System_-_Monthly__counts_per_hour_.csv is valid csv file.

In [18]:
df_ped_cnts.head()

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts
0,2887628,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,34,Flinders St-Spark La,300
1,2887629,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,39,Alfred Place,604
2,2887630,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,37,Lygon St (East),216
3,2887631,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,40,Lonsdale St-Spring St (West),627
4,2887632,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,36,Queen St (West),774

## 1.3 Check_columns

In [21]:
def check_columns(df, expected_columns):
    """
    Check columns are formated as expected
    :param df: input dataframe
    :param expected_columns: expected columns    
    """
    if df.columns.to_list() == expected_columns:
        print(f"{df.columns} shows corrent data format as {expected_columns}.")
    else:
        print(f"{df.columns.name} does not show corrent data format as {expected_columns}.")

In [22]:
#check columns

check_columns(df_sensor_info, expected_header_sensor_info)
check_columns(df_ped_cnts, expected_header_ped_cnts)

Index(['sensor_id', 'sensor_description', 'sensor_name', 'installation_date',
       'status', 'note', 'direction_1', 'direction_2', 'latitude', 'longitude',
       'location'],
      dtype='object') shows corrent data format as ['sensor_id', 'sensor_description', 'sensor_name', 'installation_date', 'status', 'note', 'direction_1', 'direction_2', 'latitude', 'longitude', 'location'].
Index(['ID', 'Date_Time', 'Year', 'Month', 'Mdate', 'Day', 'Time', 'Sensor_ID',
       'Sensor_Name', 'Hourly_Counts'],
      dtype='object') shows corrent data format as ['ID', 'Date_Time', 'Year', 'Month', 'Mdate', 'Day', 'Time', 'Sensor_ID', 'Sensor_Name', 'Hourly_Counts'].

## 1.4 Check duplicates

In [42]:
def check_unique(df):
    """
    Check file content is as expected
    :param df: input dataframe 
    """
    if len(df[df.duplicated()]) == 0:
        print("All items are unique.".format(df))
    else:
        print(f"Some items are not unqiue.")

In [40]:
# check_unique rows

check_unique(df_sensor_info)
check_unique(df_ped_cnts)

All items are unique.
All items are unique.

## 1.41 Check duplicate records

In [95]:
# add a new col name time_sensorid
df_ped_cnts['time_sensorid'] = df_ped_cnts['Date_Time']+df_ped_cnts['Sensor_ID'].astype('str')

In [96]:
# check the dupulicate reords of Date_Time +  Sensor_ID
df_ped_cnts.duplicated(subset=['time_sensorid'],keep=False).sum()

12240

there are 12240 rows of duplicates of time+sensor_id but with different Hourly_Counts
I have no time to consult the data provider so I add up all these Hourly_Counts in the followling processing

## 1.5 Check Na

In [43]:
def check_na(df):
    """
    Check Na values 
    :param df: input dataframe 
    """
    if len(df[df.isna().any(axis=1)]) == 0:
        print("All items are not Na values.".format(df))
    else:
        print(f"Some items are Na values.")

In [44]:
# check na values

check_na(df_sensor_info)
check_na(df_ped_cnts)

Some items are Na values.
All items are not Na values.

In [79]:
df_sensor_info.isna().sum()

sensor_id              0
sensor_description     0
sensor_name            0
installation_date      0
status                 0
note                  76
direction_1            8
direction_2            8
latitude               0
longitude              0
location               0
dtype: int64

Only df_sensor_info has null values in note, direction_1, direction_2, which will not affect the goal of this analysis

## 1.6 Year Month Mdate Day Time Anomalies

In [75]:
Day = ['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']
Year=[2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]
Month=['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']
Mdate=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]
Time=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]

In [68]:
def check_anomalies(df, dim, expected_list):
    """
    Check Year Month Mdate Day Time Anomalies
    :param df: input dataframe 
    :param expected_list: expected dimension list    
    """
    existed_list = sorted(list(df[dim].unique()) )
    if existed_list == expected_list:
        print(f"{dim} has no anomalies.")
    else:
        print(f"{dim} has anomalies.")

In [76]:
check_anomalies(df_ped_cnts,'Day',Day)
check_anomalies(df_ped_cnts,'Year',Year)
check_anomalies(df_ped_cnts,'Month',Month)
check_anomalies(df_ped_cnts,'Mdate',Mdate)
check_anomalies(df_ped_cnts,'Time',Time)

Day has no anomalies.
Year has no anomalies.
Month has no anomalies.
Mdate has no anomalies.
Time has no anomalies.

# 1.7 create new cols for data processing

In [77]:
# create new col named Month_int in df_ped_cnts with integer month type
df_ped_cnts['Month_int']=df_ped_cnts.Month.map({"January":1,"February":2,"March":3,"April":4,"May":5,"June":6,"July":7,"August":8,"September":9,"October":10,"November":11,"December":12})

In [80]:
# create new col Date_tmp in df_ped_cnts to create %Y-%m-%d format of date
df_ped_cnts['Date_tmp'] = df_ped_cnts['Year'].astype('str') +'-'+ df_ped_cnts['Month_int'].astype('str') +'-'+ df_ped_cnts['Mdate'].astype('str')

In [81]:
# create a new col Date_int in df_ped_cnts to have a date in int type
df_ped_cnts['Date_int'] = df_ped_cnts['Date_tmp'].apply(lambda x: int(pd.to_datetime(x).strftime('%Y%m%d')))

In [83]:
# create a new col in df_sensor_info as installation_date_int
df_sensor_info['installation_date_int'] = df_sensor_info['installation_date'].apply(lambda x: int(pd.to_datetime(x).strftime('%Y%m%d')))

In [82]:
df_ped_cnts.head()

,ID,Date_Time,Year,Month,Mdate,Day,Time,Sensor_ID,Sensor_Name,Hourly_Counts,Month_int,Date_tmp,Date_int
0,2887628,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,34,Flinders St-Spark La,300,11,2019-11-1,20191101
1,2887629,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,39,Alfred Place,604,11,2019-11-1,20191101
2,2887630,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,37,Lygon St (East),216,11,2019-11-1,20191101
3,2887631,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,40,Lonsdale St-Spring St (West),627,11,2019-11-1,20191101
4,2887632,"November 01, 2019 05:00:00 PM",2019,November,1,Friday,17,36,Queen St (West),774,11,2019-11-1,20191101

In [84]:
df_sensor_info.head()

,sensor_id,sensor_description,sensor_name,installation_date,status,note,direction_1,direction_2,latitude,longitude,location,installation_date_int
0,57,Bourke St Bridge,BouBri_T,2018/08/13,A,NaN,East,West,-37.817660,144.950262,"(-37.81766034, 144.95026189)",20180813
1,32,City Square,CSq_T,2013/12/20,R,Device has been removed (24/01/2017),NaN,NaN,-37.815724,144.966863,"(-37.81572426, 144.96686315)",20131220
2,68,Flinders Ln -Degraves St (North),FLDegN_T,2020/06/03,A,NaN,East,West,-37.816835,144.965604,"(-37.81683473, 144.96560387)",20200603
3,40,Lonsdale St-Spring St (West),Spr201_T,2015/01/19,A,NaN,South,North,-37.809980,144.972282,"(-37.80998025, 144.97228184)",20150119
4,1,Bourke Street Mall (North),Bou292_T,2009/03/24,A,NaN,East,West,-37.813481,144.965159,"(-37.81348124, 144.96515921)",20090324

# 2 Data processing 
## 2.1 connet to database and import dataframe to mysql

In [97]:
engine = create_engine("mysql+pymysql://root:root@15.0.5.5:3306/ped_count")

In [86]:
## import dataframe to mysql database should use chunksize otherwise the notebook kernel will restart repeatedly

df_sensor_info.to_sql(name='df_sensor_info', con=engine, if_exists = 'replace', index=False)
df_ped_cnts.to_sql(name='df_ped_cnts', con=engine, if_exists = 'replace', index=False, chunksize=10000)

4415574

## 2.2 check Pedestrian counting before installation of sensor

In [87]:
rec_before_install = """
SELECT 
A.Year
,A.Month
,A.Mdate
,A.Sensor_ID
,A.Sensor_Name
,A.Date_int
,A.Time
,A.Hourly_Counts
,B.sensor_description 
,B.installation_date_int
FROM df_ped_cnts A
join df_sensor_info B on A.Sensor_ID = B.sensor_id and A.Date_int < B.installation_date_int
"""
rec_before_install = pd.read_sql_query(rec_before_install, engine)

In [89]:
rec_before_install.groupby(['Sensor_ID'])['Sensor_ID'].count()

Sensor_ID
7     36983
19       24
21       24
23       24
24       24
31       24
35    41926
37      240
39    42148
50     3287
Name: Sensor_ID, dtype: int64

we could see for sensor 7,35,39 there are plenty of records before the installation of the sensor
I choose to believe the sensor records not the sensor info data, so no adjustment of these anomalies

## 2.3 Top 10 (most pedestrians) locations by day

In [ ]:
# aggregate the Hourly_Counts into daily_counts granuality
cnt_loc_day = """
create table cnt_loc_day as
SELECT 
A.Year
,A.Month
,A.Mdate
,A.Day
,A.Sensor_ID
,B.sensor_description
,B.sensor_name
,A.Date_int
,sum(A.Hourly_Counts) daily_counts
,B.status
,B.latitude	
,B.longitude
,B.installation_date_int
FROM df_ped_cnts A
join df_sensor_info B on A.Sensor_ID = B.sensor_id and A.Date_int >= B.installation_date_int
group by
A.Year
,A.Month
,A.Mdate
,A.Day
,A.Sensor_ID
,B.sensor_description
,B.sensor_name
,A.Date_int
,B.status
,B.latitude	
,B.longitude
,B.installation_date_int
"""
pd.read_sql_query(cnt_loc_day, engine)

In [ ]:
# create a table to get the top10 (most pedestrians) locations by day
top10_loc_day = """
create table top10_loc_day as
select 
A.*
from
(
SELECT 
A.*
,rank() over(partition by A.Date_int order by daily_counts desc) rn
FROM cnt_loc_day A
) A
where A.rn<=10
"""
pd.read_sql_query(top10_loc_day, engine)

In [100]:
df_top10_loc_day = pd.read_sql_table("top10_loc_day", engine)

In [101]:
df_top10_loc_day.head()

,Year,Month,Mdate,Day,Sensor_ID,sensor_description,sensor_name,Date_int,daily_counts,status,latitude,longitude,installation_date_int,rn
0,2009,May,1,Friday,4,Town Hall (West),Swa123_T,20090501,45185.0,A,-37.814867,144.966094,20090323,1
1,2009,May,1,Friday,1,Bourke Street Mall (North),Bou292_T,20090501,36869.0,A,-37.813481,144.965159,20090324,2
2,2009,May,1,Friday,6,Flinders Street Station Underpass,FliS_T,20090501,29015.0,A,-37.819104,144.965589,20090325,3
3,2009,May,1,Friday,2,Bourke Street Mall (South),Bou283_T,20090501,27587.0,A,-37.813794,144.965173,20090330,4
4,2009,May,1,Friday,5,Princes Bridge,PriNW_T,20090501,25590.0,A,-37.818729,144.967883,20090326,5

## 2.4 Top 10 (most pedestrians) locations by month

In [ ]:
# aggregate the daily_counts into monthly_counts granuality
cnt_loc_month = """
create table cnt_loc_month as
SELECT 
A.Year
,A.Month
,A.Sensor_ID
,A.sensor_description
,A.sensor_name
,sum(A.daily_counts) monthly_counts
,A.status
,A.latitude
,A.longitude
,A.installation_date_int
FROM cnt_loc_day A
group by
A.Year
,A.Month
,A.Sensor_ID
,A.sensor_description
,A.sensor_name
,A.status
,A.latitude
,A.longitude
,A.installation_date_int
"""
pd.read_sql_query(cnt_loc_month, engine)

In [ ]:
# create a table to get the top10 (most pedestrians) locations by month
top10_loc_month = """
create table top10_loc_month as
select 
A.*
from
(
SELECT 
A.*
,rank() over(partition by A.Year,A.Month order by monthly_counts desc) rn
FROM cnt_loc_month A
) A
where A.rn<=10
"""
pd.read_sql_query(top10_loc_month, engine)

In [109]:
df_top10_loc_month = pd.read_sql_table("top10_loc_month", engine)

In [110]:
df_top10_loc_month.head()

,Year,Month,Sensor_ID,sensor_description,sensor_name,monthly_counts,status,latitude,longitude,installation_date_int,rn
0,2009,August,4,Town Hall (West),Swa123_T,1050461.0,A,-37.814867,144.966094,20090323,1
1,2009,August,2,Bourke Street Mall (South),Bou283_T,847853.0,A,-37.813794,144.965173,20090330,2
2,2009,August,3,Melbourne Central,Swa295_T,827432.0,A,-37.811002,144.964301,20090325,3
3,2009,August,6,Flinders Street Station Underpass,FliS_T,721539.0,A,-37.819104,144.965589,20090325,4
4,2009,August,5,Princes Bridge,PriNW_T,700272.0,A,-37.818729,144.967883,20090326,5

## 2.5 decline and growth of pedestrians locations by year

In [ ]:
# aggregate the monthly_counts into yearly_counts granuality
cnt_loc_year = """
create table cnt_loc_year as
select
A.Year
,A.Sensor_ID
,A.sensor_description
,A.sensor_name
,sum(monthly_counts) yearly_counts
,A.status
,A.latitude
,A.longitude
,A.installation_date_int
FROM cnt_loc_month A
group by
A.Year
,A.Sensor_ID
,A.sensor_description
,A.sensor_name
,A.status
,A.latitude
,A.longitude
,A.installation_date_int
"""
pd.read_sql_query(cnt_loc_year, engine)

In [ ]:
# create a table with yearly grouth rate but the sensor should work for the whole year otherwise the records will be eliminated

loc_yearcomparison = """
create table loc_yearcomparison as
select
A.Year
,A.Sensor_ID
,A.sensor_description
,A.sensor_name
,A.yearly_counts
,lag(A.yearly_counts,1) over(partition by A.Sensor_ID order by A.year) last_yearly_counts
,round(ifnull((A.yearly_counts - lag(A.yearly_counts,1) over(partition by A.Sensor_ID order by A.year))/ (lag(A.yearly_counts,1) over(partition by A.Sensor_ID order by A.year)),-99),4) last_year_rate
,A.status
,A.latitude
,A.longitude
,A.installation_date_int
FROM cnt_loc_year A
where A.Year > floor(A.installation_date_int/10000)
"""
pd.read_sql_query(loc_yearcomparison, engine)

In [ ]:
# create a table in mysql including rank asc and rank desc of yearly growth rate

loc_yearcomparison_rank = """
create table loc_yearcomparison_rank as
select
A.Year
,A.Sensor_ID
,A.sensor_description
,A.sensor_name
,A.yearly_counts
,A.last_yearly_counts
,A.last_year_rate
,rank() over(partition by A.Year order by A.last_year_rate desc) last_yrrate_rank
,rank() over(partition by A.Year order by A.last_year_rate asc) last_yrrate_rank_asc
,A.status
,A.latitude
,A.longitude
FROM loc_yearcomparison A
where A.last_yearly_counts is not null
"""
pd.read_sql_query(loc_yearcomparison_rank, engine)

In [116]:
df_loc_yearcomparison_rank = pd.read_sql_table("loc_yearcomparison_rank", engine)

In [117]:
df_loc_yearcomparison_rank.head()

,Year,Sensor_ID,sensor_description,sensor_name,yearly_counts,last_yearly_counts,last_year_rate,last_yrrate_rank,last_yrrate_rank_asc,status,latitude,longitude
0,2011,1,Bourke Street Mall (North),Bou292_T,443595.0,6097336.0,-0.9272,17,1,A,-37.813481,144.965159
1,2011,10,Victoria Point,BouHbr_T,1715966.0,2013316.0,-0.1477,16,2,A,-37.818752,144.947111
2,2011,11,Waterfront City,WatCit_T,908858.0,1062188.0,-0.1444,15,3,A,-37.815637,144.939713
3,2011,12,New Quay,NewQ_T,1545499.0,1678001.0,-0.0790,14,4,A,-37.814567,144.942930
4,2011,5,Princes Bridge,PriNW_T,7334278.0,7933228.0,-0.0755,13,5,A,-37.818729,144.967883

In [118]:
##export data in excel using different sheet
writer = pd.ExcelWriter('./Pedestrian_Counting_resultv4.xlsx')
df_top10_loc_day.to_excel(writer, sheet_name='top10_loc_day')
df_top10_loc_month.to_excel(writer, sheet_name='top10_loc_month')
df_loc_yearcomparison_rank.to_excel(writer, sheet_name='loc_yearcomparison_rank')
writer.save()
writer.close()

In [122]:
df_loc_yearcomparison_rank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 429 entries, 0 to 428
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  429 non-null    int64
 1   Sensor_ID             429 non-null    int64
 2   sensor_description    429 non-null    object
 3   sensor_name           429 non-null    object
 4   yearly_counts         429 non-null    float64
 5   last_yearly_counts    429 non-null    float64
 6   last_year_rate        429 non-null    float64
 7   last_yrrate_rank      429 non-null    int64
 8   last_yrrate_rank_asc  429 non-null    int64
 9   status                429 non-null    object
 10  latitude              429 non-null    float64
 11  longitude             429 non-null    float64
dtypes: float64(5), int64(4), object(3)
memory usage: 40.3+ KB

# 3 Use Power BI to visualize  the data by read excel file